# Domain for the application (used in setup QR codes)
DOMAIN=synology.lucibit.net

# Path to your NAS mount point
NAS_MOUNT_PATH=/nas/videos

# Initial admin key configuration (optional)
# Generate a key pair first: python upload_client.py generate-key admin
# Then specify the path to the public key file:
INITIAL_ADMIN_KEY_ID=admin
# this file has to be in the same directory as the NAS_MOUNT_PATH
INITIAL_ADMIN_PUBLIC_KEY_FILE_NAME=keys/admin_public.pem